/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

## idea
*.iml
.idea/

## books usage
books.md
books.json

## umanagement usage
umanagement.md
umanagement.json

build/

## authentication
cookies.txt

